[submodule "deps/fltk"]
	path = deps/fltk
	url = https://github.com/fltk/fltk.git
[submodule "deps/exprtk"]
	path = deps/exprtk
	url = https://github.com/ArashPartow/exprtk.git
[submodule "deps/fmt"]
	path = deps/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "deps/QSourceHighlite"]
	path = deps/QSourceHighlite
	url = https://github.com/Waqar144/QSourceHighlite.git
